/* top-level styles */

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
}

header {
  width: 100%;
  background-color: #e84756;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* heading styles */

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: #0077f7;
  padding: 10px 0 0 15px;
}

h3 {
  background-color: #0077f7;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  color: white;
  padding: 0 0 10px 15px;
}

/* list styles */

ul {
  width: 90%;
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
}

li {
  font-size: 16px;
  background-color: white;
  margin-bottom: 5px;
  padding: 15px;
}

/* link style */

a {
  color: #0077f7;
}

/* flex container styles  */

.flex-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flex-item {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f9;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* media queries */

@media (max-width: 1300px) {
  .flex-item {
    flex-basis: 45%;
  }
}

@media (max-width: 1000px) {
  .flex-item {
    flex-basis: 90%;
  }
}
